{% extends 'base.html' %}

{% block content %}
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Status</th>
          <th>Deadline</th>
        </tr>
      </thead>
      <tbody>
      	{% for task in tasks %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.get_status_display }}</td>
          <td>{{ task.deadline|date:'d M, Y' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>	
 {% endblock %}
